body {
  background-image: url(../images/7302332.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: cover;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}
.logo{
  padding-top: 30px;
  width: 150px;
}

nav {
  display: flex; 
}
a {
  color: #2d2c2a;
  background-color: #d98fb5;
  border-radius: 10px 10px 0 0;
  padding: 5px;
  padding-left: 4%;
  padding-right: 4%;
  font-weight: 700;
  transition: background-color 0.3s ease-in-out;
}
nav a:hover {
  color: black;
  background-color: #db75aa;
}

.cardapio .menu.selecionado{
  background-color: #db75aa;
}

.abas{
  max-width: 450px;
  margin: 0 auto 24px;
  display: none; 
}
.abas.mostrar{
  opacity: 1;
  display: block;
  background-color: rgba(255, 255, 255, 0.773);
  border-radius: 10px 10px 0 0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.241);
  max-width: 450px;
}
.abas h2 {
  background-color: #db75aa;
  padding: 8px 16px;
  text-align: center;
  margin: 0 0 24px;
  font-size: 22px;
  border-radius: 0 10px 0 0;
  color: #2d2c2a;
}

.header { 
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
}
.header h1 {
  margin-bottom: 4px;
  font-size: 28px;
  line-height: 33px;
}
.header h1 span {
  color: #d98fb5;
}
.header h2 {
  font-size: 18px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.695);
  text-decoration: underline;
  line-height: 50px;
  font-weight: bolder;
}

ul li {
  margin-bottom: 16px;
  display: flex;
}

.detalhes {
  max-width: 310px;
  margin-left: 20px;

}
.detalhes h3 {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 19px;
}
.detalhes p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 21px;
  height: 84px;
}
.descricao {
  width: 350px;
}

h1,
h3 {
  text-transform: uppercase;
  color: #2d2c2a;
}

.preco {
  width: 100px;
  text-align: right;
}